@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {

      --font-Inter:"Inter",sans-serif;
      --font-DMSans:"DM Sans", sans-serif;
      --font-Lexend:"Lexend Deca", DM Sans, sans-serif;
      --font-InterTight: "Inter Tight", sans-serif;
      --color-main: #5863F8;
      --color-secondary: #393E46;
      --color-accent: #D65A31;
      --color-light: #EEEEEE;
      --color-blue: #98ABEE;
      color-scheme: dark, light;
    }
  
    * {
      scroll-behavior: smooth;
    }
  };

{/* Do not add commas to seperate components */} 

@layer components  {

    .title {
      @apply h5 font-bold pb-4
    }

    .subTitle {

      @apply h6 pb-4
      
    }

    .button {

      @apply font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none tracking-wider 

    }

    .navlink {

      @apply tracking-wider text-slate-800 hover:bg-slate-100 hover:rounded-lg px-2 focus:bg-slate-100 focus:rounded-lg leading-6 py-2 text-sm active:rounded-lg  active:bg-slate-100 font-semibold;

    }

    .activeNavLink {

      @apply bg-slate-100 rounded-lg

    }

    .mobile-nav-link {

      @apply block py-4  text-sm px-4 font-semibold hover:bg-slate-100 hover:rounded-lg

    }

    .dropdown {

      @apply block px-2 py-2 text-color-s text-sm  hover:bg-slate-100 hover:rounded-lg font-semibold
      
    }

    .grid-background{

      @apply absolute bg-slate-100 w-full;

    }

    {/* Toast */}

    .toast {

      @apply relative w-[22rem] h-[4rem] rounded-xl inline-flex items-center p-5 border font-bold

    }

    .error {

      @apply bg-red-50  border-red-200 text-red-500 

    }

    .success {

      @apply  bg-green-50  border-green-200 text-green-500 

    }

    .warning {

      @apply  bg-yellow-50  border-yellow-200 text-yellow-500 

    }

    .info {

      @apply  bg-blue-50 border-blue-200 text-blue-500 

    }

    .toastTitle {

      @apply pl-2

    }

    .iconSize {

      @apply w-5 h-5

    }

    .closeButton {

      @apply absolute left-[20rem] top-4 w-10 h-10 hover:font-bold  hover:bg-none 

    }

    {/*Form*/}

    .groupBox {

      @apply flex flex-col space-y-2

    }

    .validateError {

      @apply text-[0.75rem] text-red-500

    }

    .input {

      @apply focus:border-2  focus:border-blue-500 outline-none

    }

    {/*Page pagination*/}

    .pageButton {

      @apply flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700

    }

    {/*Like unlike*/}

    .iconSize {

      @apply w-4 h-4 mr-1

    }

    {/*Card*/}

    .cardImage {

      @apply w-[4rem] h-[4rem]  object-cover rounded-lg

    }

    .ql-container {
      @apply bg-white border  border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
    }
    
    .ql-toolbar {
      @apply bg-gray-100 border-b border-gray-300 rounded-lg;
    }
    
    .ql-editor {
      @apply h-48 p-0 text-sm text-gray-900;
    }

    .social {
      @apply w-5 h-5 hover:text-blue-500
    }

    .profile-details {
      @apply py-2 px-4 font-semibold border text-sm border-gray-200 hover:bg-blue-500 hover:text-white hover:border-blue-500 rounded-full text-gray-500
    }

  }
  
  