/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --font-Inter:"Inter",sans-serif;
      --font-DMSans:"DM Sans", sans-serif;
      --font-Lexend:"Lexend Deca", DM Sans, sans-serif;
      --font-InterTight: "Inter Tight", sans-serif;
      --color-main: #5863F8;
      --color-secondary: #393E46;
      --color-accent: #D65A31;
      --color-light: #EEEEEE;
      --color-blue: #98ABEE;
        color-scheme: dark, light;
    }
    * {
      scroll-behavior: smooth;
    }
  };

@layer components  {

    .title {
      @apply text-xl font-bold pb-4 dark:text-white
    }

    .paraText {
      @apply text-lg leading-relaxed text-gray-700
    }

    .subTitle {
      @apply h6 pb-4
    }

    .navlink {
      @apply tracking-wider text-slate-800 dark:text-slate-100 dark:hover:text-slate-800 hover:bg-slate-100 hover:rounded-lg px-2 leading-6 py-1.5 text-sm active:rounded-lg  active:bg-slate-100 font-semibold;
    }

    .activeNavLink {
      @apply bg-slate-100 rounded-lg dark:text-slate-800
    }

    .navGroup {
      @apply flex space-x-2
    }

    .icon {
      @apply xs:w-auto sm:h-5 sm:mr-2 xs:h-4 xs:mr-1 text-slate-800 
    }

    .input-wrapper {
      @apply relative flex items-center justify-center
    }

    .input-icon {
      @apply icon absolute left-4 
    }

    .mobile-nav-link {
      @apply block py-4 text-sm px-4 font-semibold hover:bg-slate-100 hover:rounded-lg dark:hover:bg-white dark:hover:text-slate-800 xs:dark:hover:rounded-sm
    }

    .dropdown {
      @apply block px-2 py-2 text-color-s text-sm  hover:bg-slate-100 hover:rounded-lg font-semibold
    }

    .grid-background{
      @apply absolute bg-slate-100 w-full;
    }

    .toast {
      @apply relative lg:w-[22rem] lg:h-[3rem] sm:w-[10rem] sm:h-[3rem] rounded-md inline-flex items-center p-3 border font-bold
    }

    .error {
      @apply bg-red-50  border-red-200 text-red-500 
    }

    .success {
      @apply  bg-green-50  border-green-200 text-green-500 
    }

    .warning {
      @apply  bg-yellow-50  border-yellow-200 text-yellow-500 
    }

    .info {
      @apply  bg-blue-50 border-blue-200 text-blue-500 
    }

    .toastTitle {
      @apply pl-2
    }

    .iconSize {
      @apply w-5 h-5
    }

    .closeButton {
      @apply absolute lg:left-[20rem] lg:top-4 w-10 h-10 hover:font-bold  hover:bg-none sm:left-[22rem] sm:top-2
    }


    .groupBox {
      @apply flex flex-col space-y-2
    }

    .validateError {
      @apply text-[0.75rem] text-red-500
    }

    .input {
      @apply focus:border-2 focus:border-blue-500 outline-none 
    }

    .pageButton {
      @apply flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700
    }

    .iconSize {
      @apply w-4 h-4 mr-1
    }

    .cardImage {
      @apply w-[4rem] h-[4rem]  object-cover rounded-lg
    }

    .social {
      @apply w-5 h-5 hover:text-blue-500
    }

    .profile-details {
      @apply py-2 px-4 font-semibold border text-sm border-gray-200 hover:bg-blue-500 hover:text-white hover:border-blue-500 rounded-full text-gray-500
    }

    .spanLabel {
      @apply  px-2 py-1 xs:text-xs inset-1 ring-offset-4 inline-block  bg-gray-100 text-gray-600 hover:bg-gray-200 rounded-full font-medium
    }

    .step {
      @apply bg-blue-50 font-bold text-blue-500 rounded-lg p-4 mb-4 sm:rounded-lg sm:p-4 xs:p-2 sm:text-base xs:text-xs xs:rounded-md  relative
    }

    .postInput {
      @apply block w-full sm:px-4 sm:py-3 xs:px-2 xs:py-2 xs:text-xs border border-gray-200 sm:rounded-lg xs:rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500
    }

    p {
      @apply lg:text-slate-700 font-light dark:lg:text-white dark:xs:text-white dark:xs:text-sm font-sans
    }

    .tableTh {
      @apply border  text-left border-slate-300 px-2 lg:px-4 py-2 cursor-pointer hover:bg-gray-200 dark:sm:hover:text-slate-700
    }
    
    .tableTd {
      @apply border border-slate-300 px-2 lg:px-4 dark:sm:text-white
    }

    td {
      @apply lg:py-2 lg:px-1 dark:sm:text-white 
    }

    table {
      @apply table-auto w-full border-collapse border border-slate-200 rounded-lg lg:text-sm sm:text-xs;
    }
    
    tr {
      @apply border border-slate-200;
    }

    .ql-editor {
      @apply p-0 font-sans  text-slate-700 dark:sm:text-slate-700 font-light text-lg
    }

    .ql-editor p {
      @apply dark:sm:text-white dark:lg:text-white
    }

    .notification-bottom {
      @apply text-gray-700 text-xs font-light hover:underline justify-self-end mt-1 pt-4 pr-2
    }

    .no-scroll{
      @apply overflow-hidden 
    }

    h3, li, strong, h1, h2 {
      @apply dark:text-white
    }

    .settingMainTitle {
      @apply text-2xl font-bold mb-6 sm:pt-6 sm:pl-6 lg:pt-0 lg:pl-0 dark:xs:text-white dark:sm:text-gray-800
    }

    .settingsubTitle {
      @apply h6 dark:xs:text-white dark:sm:text-gray-800
    }

    .twofactorbodyText {
      @apply  dark:xs:text-white dark:sm:text-gray-700 dark:xs:text-sm dark:sm:text-base
    }

    
  }
  
  